@import "tailwindcss";

@theme {
    --font-serif: var(--font-serif);
    --font-sans: var(--font-sans);
    --font-script: var(--font-script);
}

:root {
    --background: #fdf2f8;
    --foreground: #881337;
    --primary: #e11d48;
}

body {
    background: var(--background);
    color: var(--foreground);
}